* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1500px;
    max-width: 100%;
}


/* Navigation Section */

#navigation-bar {
    background-color: #343a40;
}

#navigation-bar .navbar-nav {
    position: absolute;
    right: 0;
}

.jumbotron {
    color: white;
    background-image: url("./img/img_3.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.image {
    background: url(./img/img_2.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    max-width: 100%;
    margin: 33px auto;
}

.about-section {
    text-align: center;
    margin-top: 22px;
}