* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1500px;
    max-width: 100%;
}


/* Navigation Section */

#navigation-bar .navbar-nav {
    position: absolute;
    right: 0;
}