* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1500px;
    max-width: 100%;
}


/* Navigation Section */

#navigation-bar {
    background-color: #343a40;
}

#navigation-bar .navbar-nav {
    position: absolute;
    right: 0;
}


/* .jumbotron {
    color: white;
    background-image: url("./img/img_3.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
} */


/* about me styling */

.image {
    background: url(./img/img_2.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    max-width: 100%;
    margin: 33px auto;
}

.about-section {
    /* text-align: center; */
    margin-top: 22px;
}

.about-section h6,
p,
.info label {
    margin-left: -16px;
}


/* project styling */

#project_section {
    position: relative;
}

#project_section .project-text {
    text-align: center;
}

#project_section .marquee {
    border: 1px solid gray;
    height: 28px;
    overflow: hidden;
    background: #f7f2f3;
}

.project-desc1,
.project-desc {
    display: none;
}


/* Media Queries */

@media only screen and (max-width: 991px) {
    #navigation-bar .navbar-nav {
        position: relative;
        left: 0;
    }
    .image {
        background: url(./img/img_2.JPG);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        max-width: 100%;
        margin: 33px auto;
    }
}